<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!-- <HomeIndexSnippet> -->
@{
    ViewData["Title"] = "Todo";
}

@using GraphAI

<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="mb-3">
            <a class="btn btn-light btn-sm" asp-controller="ToDo" asp-action="Record">Record audio</a>
        </div>
    }
    else
    {
        <a class="btn btn-primary btn-large" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Click here to sign in</a>
    }
</div>
<!-- </HomeIndexSnippet> -->
